body{
    background-color: grey;
}

.box-part {
    background-color: whitesmoke;
    padding: 50px 10px;
    margin: 30px 10px;

}

.fa {
    color:blue;
}

a {
    border-bottom: 2px solid blue;
}

p {
    font-size: 12px;
}

.box {
    padding: 60px 0px
}

.box-part1 {

    background-color: whitesmoke;
    padding: 50px 10px;
    margin: 30px 10px;

}

.box-part2 {
    background-color: whitesmoke;
    padding: 50px 10px;
    margin: 30px 10px;
}

.box-part3 {
    background-color: whitesmoke;
    padding: 50px 10px;
    margin : 30px 10px;
}

.box-part4 {
    background-color: whitesmoke;
    padding: 50px 10px;
    margin: 30px 10px;
}

.box-part5 {
    background-color: whitesmoke;
    padding: 50px 10px;
    margin: 30px 10px;
}
